name: RESOURCEGRUOP

on:
  push:
    branches: [ "main" ]
  

jobs:
  build:

    runs-on: ubuntu-latest
    continue-on-error: false
    container: 
      image: kirankumarsivapuram/base_image:3.0             

    steps:
    - uses: actions/checkout@v3           
    - name: az login
      run: |
        az login --service-principal -u ${{secrets.user1}} -p ${{secrets.password1}} -t "5461eb53-e0fd-4320-92ff-c6efe1fe91e9"     
    - name: download tf state file from storage account if exists
      shell: pwsh
      run: |
        #Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force         
        write-output "done"
        #azcopy copy 'https://filebased.blob.core.windows.net/statefile/terraform.tfstate' '.terraform/'
        write-output "one"
        
    - name: Terraform Init
      run: |
        
        terraform init  
        
    - name: Terraform Plan
      run: terraform plan -out="plan.tfplan" -var client_id="${{secrets.user1}}" -var client_secret="${{secrets.password1}}" 
    - name: Terraform Apply
      run: terraform apply -auto-approve "plan.tfplan"
