name: RESOURCEGRUOP

on:
  pulpull_request:
    
    

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
        contents: write
        packages: write
    continue-on-error: false
    container: 
      image: kirankumarsivapuram/base_image:3.0             

    steps:
    - uses: actions/checkout@v3
      with:
          token: ${{ secrets.pat_token }}
          
    
    
    - name: git push
      run: |
        touch subhajit.txt
        #git config remote.origin.url https://github.com/kirankumarsivapuram/terraform.git
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
          git add subhajit.txt
          git commit -am "update"
          git push
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
          github_token: ${{ secrets.pat_token }}
          branch: ${{ github.ref }}
